body{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(72, 75, 79);
}
h1{
    color: red;
}
p{
    color: rgb(8, 7, 6);
    font-size: 36px;
}
button{
    color: rgb(34, 0, 255);
}
span{
    color: rgb(193, 87, 193);
    font-size: 60px;
}
button:hover{
    color: rgb(163, 15, 15);
    box-shadow: 0 0 10px rgb(252, 0, 118);
}
.photo img {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 0 auto;
}
#BTN{
    font-size: 18px;
    cursor: pointer;
}
#BTN2{
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}
